:root {
    --color_primario:#8527c3fd;
    --color_secundario:#8527c383;
    --color_blanco: #fff;
    --altura_header: 120px;
    --padding_left_right: 32px;
    --ancho_maximo: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
    font-family: "Montserrat";
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
}
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 var(--padding_left_right);
}
.logo {
    color: var(--color_blanco);
}
.label_hamburguesa {

}
.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}
.menu_hamburguesa {
    display: none;
}
.menu_hamburguesa:checked + .ul_menu {
    height: calc(100vh - var(--altura_header));
}
.ul_menu {
    width: 100%;
    background-color: var(--color_primario);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    transition: all .3s;
}
.li_menu {

}
.link {
    font-size: 32px;
    color: var(--color_blanco);
    font-weight: bold;
}
@media(min-width: 768px){
    .label_hamburguesa{
        display: none;
    }
    .ul_menu{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 32px;
    }
    .link{
        font-size: 19.2px;
        transition: all .3s;
        padding: 3.2px 11.2px;
    }
    .link:hover{
        background-color: #5f1192;
    }
}